@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Header = "Jenna Weller's Website";
    ViewBag.Title = "Jenna's Website";

}
<body>

    <!--images of what I enjoy doing-->
    <img src="~/img/bikephoto.jpg" />
    <img src="~/img/egypt.jpg" />
    <img src="~/img/egypt2.jpg" />

    <!-- paragraph of expectations/hopes for 413 course-->
    <p class="center">
        My main goal this semester in 413 is to stay motivated and on top of my assignments. I would love to incorporate
        practicing the course material for a solid few hours of each day so that my skills in this course can grow and
        I won't be frantically studying for exams at the last minute  :) Those are kind of basic/vague hopes, but they're my
        main hopes and expectations!
    </p>

    <!-- list of jobs I would like to have after graduating-->
    <p> Top 3 jobs I would enjoy after graduation:</p>
    <ul>
        <li> Software Developer </li>
        <li> Cyber Risk Consultant </li>
        <li> Data Analyst</li>
    </ul>

</body>
